<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some Website</title>
    <link rel="stylesheet" href="">
</head>

<body>
    {{> header}}
    <p>{{screamIt welcomeMessage}}</p>
    
    {{> footer}}
</body>
</html>
